In [1]:
import numpy as np

In [2]:
import pandas as pd

In [4]:
# help(pd.Series)

In [5]:
pip show pandas

Name: pandasNote: you may need to restart the kernel to use updated packages.

Version: 1.1.2
Summary: Powerful data structures for data analysis, time series, and statistics
Home-page: https://pandas.pydata.org
Author:
Author-email:
License: BSD
Location: c:\users\user\anaconda3\envs\new_test_8\lib\site-packages
Requires: numpy, python-dateutil, pytz
Required-by: seaborn

In [6]:
myindex = ['USA', 'Canada', 'Mexico']

In [7]:
mydata = [1776, 1876, 1821]

In [10]:
myser = pd.Series(data=mydata,index=myindex)

In [11]:
myser

USA       1776
Canada    1876
Mexico    1821
dtype: int64

In [14]:
myser['USA']

1776

In [15]:
ages = {'Sammy':5,'Frank':10,'Spike':7}

In [16]:
ages

{'Sammy': 5, 'Frank': 10, 'Spike': 7}

In [17]:
pd.Series(ages)

Sammy     5
Frank    10
Spike     7
dtype: int64

In [18]:
# Imaginary Sales Data for 1st and 2nd Quarters for Global Company
q1 = {'Japan': 80, 'China': 450, 'India': 200, 'USA': 250}
q2 = {'Brazil': 100,'China': 500, 'India': 210,'USA': 260}

In [19]:
sales_q1 = pd.Series(q1)

In [20]:
sales_q2 = pd.Series(q2)

In [21]:
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [22]:
sales_q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [23]:
sales_q1['India']

200

In [24]:
sales_q1.keys()

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

In [25]:
sales_q1 * 2

Japan    160
China    900
India    400
USA      500
dtype: int64

In [26]:
sales_q1 + sales_q2

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [27]:
sales_q1.add(sales_q2, fill_value=0)

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64