In [ ]:
import numpy as np
import pandas as pd

In [2]:
email = 'mur@email.com'

In [6]:
email.split('@')

['mur', 'email.com']

In [4]:
names = pd.Series(['Andrew', 'Bono', 'Claire', 'David', '5'])

In [5]:
names

0    Andrew
1      Bono
2    Claire
3     David
4         5
dtype: object

In [7]:
names.str.upper()

0    ANDREW
1      BONO
2    CLAIRE
3     DAVID
4         5
dtype: object

In [8]:
names.str.isdigit()

0    False
1    False
2    False
3    False
4     True
dtype: bool

In [9]:
tech_finance = ['APPL,AMZN,GOOG', 'JPM,BAC,GS']

In [10]:
len(tech_finance)

2

In [11]:
tickers = pd.Series(tech_finance)

In [12]:
tickers

0    APPL,AMZN,GOOG
1        JPM,BAC,GS
dtype: object

In [13]:
tickers.str.split(',')

0    [APPL, AMZN, GOOG]
1        [JPM, BAC, GS]
dtype: object

In [14]:
tickers.str.split(',')[0]

['APPL', 'AMZN', 'GOOG']

In [15]:
tickers.str.split(',')[0][0]

'APPL'

In [16]:
tickers.str.split(',', expand=True)

      0     1     2
0  APPL  AMZN  GOOG
1   JPM   BAC    GS

In [19]:
messy_names = pd.Series(['  andrew ', 'bob:o', ' claire   '])

In [20]:
messy_names

0       andrew
1         bob:o
2     claire
dtype: object

In [23]:
messy_names.str.replace(':','').str.strip().str.capitalize()

0    Andrew
1      Bobo
2    Claire
dtype: object

In [24]:
def cleanup(name):
    name = name.replace(':','')
    name = name.strip()
    name = name.capitalize()
    return name

In [25]:
messy_names.apply(cleanup)

0    Andrew
1      Bobo
2    Claire
dtype: object